$dark_gray: #2d2d2d;
$med_gray: #4d4d4d;
$light_gray: #ababab;
$extra_light_gray: #e1e1e1;

$dark_red: #9d0c22;
$med_red: #c71b35;
$light_red: #d2576a;
$extra_light_red: #ffb3bd;

$dark_blue: #0c5c92;
$med_blue: #246ada;
$light_blue: #509fd4;
$extra_light_blue: #b1d4eb;
