$navbarLogoHeight: 28px;
$cambridgeBorder: darken($cambridgeLightBlue, 40%);

main {
  background-color: $cambridgeLightBlue;
}

.navbar-cambridge {
  border-radius: 0;
  border: 0;
  border-bottom: 3px solid $cambridgeBorder;
  background-color: $cambridgeLightBlue;
  margin-bottom: 0;

  img {
    height: $navbarLogoHeight;
  }
  .navbar-nav li a {
    line-height: $navbarLogoHeight;
    color: darken($cambridgeLightBlue, 60%);
  }
}

.jumbotron-cambridge {
  margin-bottom: 0;
  padding: 3rem;
  background: inherit;

  h1 {
    font-size: calc(1rem + 4vw);
  }
}

.cambridge-tabs {
  padding-left: 3em;
  border-color: $cambridgeBorder;

  li a {
    text-transform: uppercase;
    font-weight: 600;
    padding: .75em 1.5em;
    border: 0;

    span {
      display: block;
      font-size: 2em;
    }

    &:hover {
      background-color: darken($cambridgeLightBlue, 10%);
    }
  }

  li.active a, li.active a:hover, li.active a:focus {
    border: 1px solid $cambridgeBorder;
    border-bottom-color: transparent;
  }
}

.cambridge-tab-content {
  background: $body-bg;
  padding: 3em;
}

.voting-result {
  display: none;
}
