/*------- Go Deeper -------*/
@keyframes currentToLeft {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@keyframes rightToCurrent {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
/*------- Go Back -------*/
@keyframes leftToCurrent {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(0); }
    }
@keyframes currentToRight {
    0%   { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

html, body {
    min-width: 100%;
    min-height: 100%;
    overflow-x: inactive;
}

.screen {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    padding-top: 50px;
    min-height: 100%;
 
    &.left.inactive {
        animation: currentToLeft  0.4s forwards;
    }
    &.left.current {
        animation: leftToCurrent 0.4s forwards;
    }


    &.right {
        transform: translateX(100%);
    }
    &.right.inactive {
        animation: currentToRight 0.4s forwards;
    }
    &.right.current {
        animation: rightToCurrent 0.4s forwards;
    }
}

// footer.global {
//     position: absolute;
//     top: 90%;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }


