.cambridge-tabs {
<<<<<<< HEAD
  background-color: darken($cambridgeLightBlue, 10%);
=======
  background-color: $cambridgeMediumBlue;
>>>>>>> 582bbe2dd0b95905a5ce81b2c993049671f86b4a

  li a {
    text-transform: uppercase;
    font-weight: 600;
    padding: .75em 1.5em;
    border: 4px solid $cambridgeMediumBlue;
    background: none;

    &:hover {
<<<<<<< HEAD
      background-color: darken($cambridgeLightBlue, 20%);
      color: white;
    }
  }

  li.active a, li.active a:hover, li.active a:focus {
    border: 4px solid $cambridgeBorder;
    background: white;
=======
      background-color: $cambridgeLightBlue;
    }
  }

  li.active a {
    border: 4px solid $cambridgeBorder;
    color: $cambridgeDarkerBlue;
    background-color: white;

    &:hover, &:focus {
      border: 4px solid $cambridgeBorder;
      color: $cambridgeDarkerBlue;
      background-color: $cambridgeLightBlue;
    }
>>>>>>> 582bbe2dd0b95905a5ce81b2c993049671f86b4a
  }
}

.cambridge-tab-content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

// The :target pseudo selector in CSS matches when the hash in the URL and the id of an element are the same.
#election-day, #early-voting {
  display: none;
}

section:target {
  display: block !important;
}

// DESKTOP
@media (min-width: $screen-xs) {
  .cambridge-tabs {
    display: flex;
    padding: 0 1rem;

    > li { flex: 1; }
  }
  .cambridge-tab-content {
    padding: 2rem 3rem;
  }
}

@media (min-width: $screen-sm) {
  .cambridge-tabs {
    padding: 0 3rem;
  }
}
