.cambridge-tabs {
  background-color: $cambridgeMediumBlue;

  li a {
    text-transform: uppercase;
    font-weight: 600;
    padding: .75em 1.5em;
    border: 4px solid $cambridgeMediumBlue;
    background: none;

    &:hover {
      background-color: $cambridgeLightBlue;
    }
  }

  li.active a {
    border: 4px solid $cambridgeBorder;
    color: $cambridgeDarkerBlue;
    background-color: white;

    &:hover, &:focus {
      border: 4px solid $cambridgeBorder;
      color: $cambridgeDarkerBlue;
      background-color: $cambridgeLightBlue;
    }
  }
}

.cambridge-tab-content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.early-voting-location-details .cambridge-tabs {
  padding: 0;
  text-align: center;
}

// The :target pseudo selector in CSS matches when the hash in the URL and the id of an element are the same.
#election-day, #early-voting {
  display: none;
}

section:target {
  display: block !important;
}

// DESKTOP
@media (min-width: $screen-xs) {
  .cambridge-tabs {
    display: flex;
    padding: 0 1rem;

    > li { flex: 1; }
  }
  .cambridge-tab-content {
    padding: 2rem 3rem;
  }
}

@media (min-width: $screen-sm) {
  .cambridge-tabs {
    padding: 0 3rem;
  }
}