/* Import fontface definitions */
@import 'icons';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Days+One);

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

/* Basic style overrides */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0; padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Days One', sans-serif;
    margin: 0; padding: 0;
    line-height: 100%;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.row {
    margin: 0;
    padding: 0;
}

/* Input styling */
.input div{
    padding: 20px 2%;
}

.btn {
    background: linear-gradient(#e0efff, #c0d0ff);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
    transition-property: background, box-shadow;
    transition-duration: .5s;
    
    &:hover {
        background: linear-gradient(#e0efff, #c0d0ff);
        box-shadow: none;
        transition-property: background, box-shadow;
        transition-duration: .5s;
    }
    &:active {
        background: linear-gradient(#c0d0ff, #c0d0ff);
        box-shadow: none;
        transition-property: background, box-shadow;
        transition-duration: .5s;
    }
}

.address {
    border: solid #ccc;
    border-width: 0 0 1px 0;

    form {
        width: 90%;
        margin: 0 auto;
    }

    input {
        float: left;
        width: 85%;
        border-radius: 4px 0 0 4px;
        border-right-width: 0;

        &:focus {
            box-shadow: none;
        }
    }

    .btn {
        float: left;
        width: 15%;
        border-radius: 0 4px 4px 0;
    }

    &:after {
        content: 'or';
        background: white;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: center;
        display: block;
        width: 40px;
        height: 28px;
        padding: 5px;
        position: absolute;
        left: 6%;
        bottom: 0;
        margin-bottom: -15px;
    }
}

.current-location {
    margin: 0 5%;
}

#map {
    height: 400px;
}

/*  Header and footer */
header.global {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2%;
    width: 100%;

    h1 {
        text-transform: capitalize;
        line-height: 120%;
    }

    h3 {
        font-family: 'Open Sans', sans-serif; 
        line-height: 125%;
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        color: #ddd;
    }
}

footer.global {
    font-weight: 300;
    color: #444;
    padding: 1% 2%;
}

.content header {
    padding: 2%;
    background: #eee;

    h2 {
        font-family: 'Open Sans', sans;
        font-weight: 600;
        font-size: 20px;
    }
}

@media (min-width: $screen-tablet) {
    // OR separator
    .address {
        border-width: 0 1px 0 0;

        &:after {
            left: 100%;
            top: 50%;
            margin: 0 0 0 -20px;
        }
    }

    .current-location {
        margin: 24px 0 0 24px;

        &:before {
            content: '';
            width: 0;
            height: 0;
        }
    }

}


