//----THIRD PARTY CSS----//

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,700,800|Rokkitt:400,700);

$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap";
$fa-font-path:   "/bower_components/font-awesome/fonts";

@import '../bower_components/font-awesome/scss/font-awesome';
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

//----VOTE CAMBRIDGE CSS----//

@import 'colors'; // Custom color variables
@import 'screens';
@import 'spinner'; // CSS loading indicator
@import 'icons'; // Import fontface definitions
@import 'navbar'; // Navigation bar

body {
    color: $dark_gray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    color: $light_blue;
    &:visited {
        color: $light_blue;
    }
}

h1, h2, h3, h4 {
    font-family: 'Rokkitt', 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0; padding: 0;
}

main > .row {
  padding: 2rem 0;
  background: complement($cambridgeLightBlue);

  &:nth-of-type(2) {
    background: $cambridgeLightBlue;
  }
}

#directions-link, #view_directions{
    // display:inline-block;
    font-size: 11px;
}
#view_directions {
    margin-right: 8px;
}


/* Input styling */

.voting-search > div:not(.divider) {
  padding-top: 1em;
}

.control-label {
    font-family: 'Rokkitt', 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    // text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}

.btn-cambridge {
    // font-family: 'Rokkitt','Open Sans', sans-serif;
    background: $cambridgeLightBlue;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border-color: darken($cambridgeLightBlue, 40%);
    font-size: 1em;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    color: darken($cambridgeLightBlue, 40%);

    &:hover {
        background: linear-gradient(lighten($light_blue, 7%), $light_blue);
        text-shadow: none;
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0.7);
        color: white;
    }
    &:active {
        background: $light_blue;
        text-shadow: none;
        box-shadow: none;
    }
}

.address {
    input {
        border-radius: 2px;
        border-color: rgba(0, 0, 0, 0.4);
        width: 100%;

        &:focus {
            box-shadow: none;
            border-color: $extra_light_blue;
            border-width: 2px;
            padding: 5px 11px;
        }
    }
}

#notice {
    display: none;
    background: #fee;
    color: $dark_red;
    margin: 15px 0;
    padding: 10px 5px 5px;
    border: 2px solid $med_red;

    h1, h2, h3, h4 {
        color: $dark_red;
        margin-bottom: 5px;
    }

    &.error {
        display: block;
    }
}

.divider {
    text-align: center;
    padding-top: 1em;
    padding-bottom: .5em;
    line-height: 2em;
    font-size: 1.25em;
    color: darken($cambridgeLightBlue, 40%);
    width: 50%;

    hr {
        margin: 1em auto;
        border-width: 3px;
        border-color: darken($cambridgeLightBlue, 40%);
        width: 44%;
    }
}

.form-inline > * {
  margin-right: .5em;
}

.location {
    .current-location.loading {
        .icon-location {
            display: none;
        }
        .spinner {
            margin-left: 0.5em;
            top: 3px; // to align with text
        }
    }
}

.result nav {
    // position: fixed;
}

.location-data {
    // position: static;
}

#streetview {
    // position: absolute;
    // top:50px;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // transform: translateY(65%);
    // border-top: 3px solid rgba(0, 0, 0, 0.4);

    img {
        width: 100%;
        height: 100%;
    }
}

#info header {
  background: $cambridgeLightBlue;
  padding: 2em;
}

#map { min-height: 100vh; }

#directions {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;

    .location-choices a {
        cursor: pointer;
    }

    .adp-directions {
        // width: 100%;
    }
}


@media (min-width: $screen-sm) {
    #streetview { display: none; }
    #view_directions{ display: none; }
}

.pac-container {
    z-index: 2000;
}
