@import 'colors';
@import 'screens';

/* Import fontface definitions */
@import 'icons';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,700,800);

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

/*Variables*/
$panelPadding: 10px;
$panelRadius: 3px;
$panelShadow: 0 2px 4px rgba(0,0,0, .3);

/* Basic style overrides */
body {
    color: $dark_gray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0; padding: 0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    clip: rect(0, auto, auto, 0);
    background-image: url('../images/paper.png');
}

a {
    color: $light_blue;
    &:visited {
        color: $light_blue;
    }
}


h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0; padding: 0;
    line-height: 100%;
    color: white;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.row {
    margin: 0;
    padding: 0;
}
.logo_small{
        position: absolute;
        top: 8px;
        left: 115px;
        height:32px;
    }

#directions-link, #view_directions{
    display:inline-block;
    font-size: 11px;
}
#view_directions {
    margin-right: 8px;
}

/* Modal specific styles */

.modal-body {
    text-align: center;
    .logo {
        width: 66%;
        max-width: 630px;
        margin-bottom: 3%;
    }
    h3 {
        margin: 2% 0;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

/* Input styling */

.input{
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

label {
    font-size: 115%;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}

.btn {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(lighten($light_blue, 10%), $light_blue);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.4);
    font-size: 115%;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    
    &:hover {
        background: linear-gradient(lighten($light_blue, 7%), $light_blue);
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0.7);
    }
    &:active {
        background: $light_blue; 
        box-shadow: none;
    }
}

a.btn { color: #333; }

.address {
    input {
        border-radius: 2px;
        border-color: rgba(0, 0, 0, 0.4);

        &:focus {
            box-shadow: none;
            border-color: $extra_light_blue;
            border-width: 2px;
            padding: 5px 11px;
        }
    }
    .btn {
        margin-top: 5px;
        width: 100%;
    }

}

#notice {
    display: none;
    background: #fee;
    color: $dark_red;
    margin: 15px 0;
    padding: 10px 5px 5px;
    border: 2px solid $med_red;

    h1, h2, h3, h4 {
        color: $dark_red;
        margin-bottom: 5px;
    }

    &.error {
        display: block;
    }
}

.separator {
    margin: 2% 0 0;
    position: relative;
    font-size: 130%;
    font-weight: 300;
    text-transform: uppercase;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 45%;
        height: 1px;
        background: rgba(0, 0, 0, 0.5);
    }

    &:before { left: 0; }
    &:after { right: 0; }
}

footer {
    text-align: center;

    nav {
        font-size: 115%;
        font-weight: bold;
        margin-top: 5px;
    }

    .cfb {
        margin-top: 15px;
        border-top: 1px solid $light_gray;
        padding: 5px;
        color: $med_gray;
        
        .logo {
            display: block;
            margin: 5px auto 0;
            width: 60%;
            max-width: 325px;
        }
    }

}

.current-location {
    margin: 2% 0;
    width: 100%;
}

.result nav {
    position: fixed;
}

#map {
    position: fixed !important;
    top:50px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.4);
}

.location-data {
    position: static;
}

// #streetview {
//     position: absolute;
//     top:50px;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     transform: translateY(65%);
//     border-top: 3px solid rgba(0, 0, 0, 0.4);

//     img {
//         width: 100%;
//         height: 100%;
//     }
// }

#info {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(80%);
    background: white;
    color: $dark_gray;
    transition: transform .3s ease;

    header {
        position: relative;
        background: $light_gray;
        min-height: 20%;
        padding: 10px 15px 5px;
        color: $dark_gray;
        text-align: center;
        border-top: 3px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    h4 {
        color: white;
        font-size: 150%;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        height: 60%;
    }

    .notes {
        font-size: 115%;
        height: 40%;
    }

    &.up {
        transform: translateY(0);
        transition: transform .3s ease;
    }
}

#directions-link {
   /* position: absolute;
    right: 0; bottom: 0;
    background: $extra_light_gray;
    font-size: 30px;
    line-height: 30px;
    padding: 3px 6px 0;
    margin: 0;
    border-radius: 2px 0 0;

    a {
        color: $dark_gray;

        &:hover {
            text-decoration: none;
        }
    }*/
}

#directions {
    width: 100%;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;

    
    * {
        font-family: 'Open Sans', sans-serif;
    }
}

.back.btn {
    position: absolute;
    top: 8px;
    left: 15px;
    padding: 3px 12px;
}



@media (min-width: $screen-sm) {
    #map {
        display:fixed;
        top: 50px;
        left: 10px;
        bottom: 10px;
        /*width: 70%;*/
        /*padding: $panelPadding;*/
        box-shadow: $panelShadow;
        border-radius: $panelRadius;
        border-top: none;
    }
    
    .location-data {
        position: fixed;
        width:32%;
        top: 50px;
        right: 10px;
        bottom: 10px;
    }

    #info {
        /*padding: $panelPadding;*/
        position:absolute;
        top: 0;
        left: auto;
        right:0;
        width: 94%;
        box-shadow: $panelShadow;
        border-radius: $panelRadius;
        transform: none;

        header {
            background: $light_gray;
            min-height: 15%;
            padding: 2% 5%;
            color: $dark_gray;
            text-align: center;
            border-top-right-radius: $panelRadius;
            border-top-left-radius: $panelRadius;
            border-top: none;
        }
    }
    #info #directions{
        width:auto;    
        overflow-y:scroll;
        height:80%;
        border-bottom-right-radius: $panelRadius;
        border-bottom-left-radius: $panelRadius;
        padding:5px;
    }
    #streetview {
        display: none;
    }
    #view_directions{
        display: none;
    }
}
